#img {
    clear: left;
    font-size: 12pt;
    text-align: center;
    min-width: 20%;
    float: left;
}
#name {
    font-size: 12pt;
    text-align: center;
    min-width: 20%;
    float: left;
}
#phone {
    font-size: 12pt;
    text-align: center;
    min-width: 20%;
    float: left;
}
#email {
    font-size: 12pt;
    text-align: center;
    min-width: 20%;
    float: left;
}
#dateOfBirth {
    font-size: 12pt;
    text-align: center;
    min-width: 20%;
    float: left;
}